@import "./reset";
@import "./variables";

body {
  font-family: $Kumbh-Sans;
  font-size: 14px;
  font-weight: map-get($font-weight, regular);
}
main {
  background-color: yellow;
}

.accordion-question-body{
  display: none;
}

.show-body{
  display: block;

  span{
    transform:rotate(180deg);
  }
}
